* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*HEADER-INDEX*/

#primary-header {
    background: #027373;
    text-align: center;
    padding: 30px;
    color: #F2E7DC;
}

/*HEADER-BASICTABLE-ADVANCEDTABLE*/

#second-header {
    background: #027373;
    padding: 30px;
    color: #F2E7DC;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #F2E7DC;
    font-weight: 600;
}

nav ul li a:hover {
    color: #a3a3a3;
}

#menu {
    display: flex;
    list-style: none;
    gap: 22px;
}

#menu a {
    display: block;
    padding: .5rem;
}

table {
    border-collapse: collapse;
}

/*MENU-INDEX*/

body {
    overflow: hidden;
}

#left-menu {
    background: #038C7F;
    width: 20%;
    height: 100vh;
}

.menu-center {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div ul li a {
    text-decoration: none;
    color: #F2E7DC;
    font-weight: 600;
}

div ul li a:hover {
    color: #a3a3a3;
}

li {
    list-style-type: none
}

#right-menu {
    background: #ffffff;
    width: 80%;
}

/*BASIC-TABLES*/

#basic-table {
    width: 50%;
    margin-top: 25px;
    margin-left: 50vh;
}

#basic-table,
tr,
td {
    border: #000 solid 1px;
    border-collapse: collapse;
    padding: 10px;
}

/*ADVANCED-TABLES*/

#advanced-table {
    width: 50%;
    margin-top: 25px;
    margin-left: 50vh;
}

#advanced-table,
tr,
td {
    border: #000 solid 1px;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

/*FOOTER*/

footer {
    background: #027373;
    text-align: center;
    padding: 20px;
    color: #F2E7DC;
    position: absolute;
    bottom: 0;
    width: 100vw;
}